@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}



.btn_Message{
	background-color:transparent;
	border:0px transparent solid;
	cursor : pointer;
}

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

*::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

.container-1 {
	display: grid;
	grid-template-columns: 30px 170px 50px;
	grid-template-rows: 1.5em 1em 1em 1em;
	 grid-template-areas:
		"icon textbox btn_search"
		". imsi_1 ."
		". imsi_2 ."
		". imsi_3 .";
}
.icon{
	grid-area: icon;
}
.textbox{
	grid-area: textbox;
}
.btn_search{
	grid-area: btn_search;
}
.imsi_1{
	grid-area: imsi_1;
	font-size: 0.8em;
}
.imsi_2{
	grid-area: imsi_2;
	font-size: 0.8em;
}
.imsi_3{
	grid-area: imsi_3;
	font-size: 0.8em;
}

.mainView {
	white-space:nowrap;
	display:grid;
	grid-template-columns: 260px auto 150px ; 
	grid-template-rows: 50px auto 50px 50px;
	width: 100%;
	height: 100vh;
}

.head {
	width:100%;
	grid-column:1/2;
	grid-row:1/3;
	border-style: double;
	background-color: #ffa71b;
}
.headgrid {
	width:100%;
	display:grid;
	grid-template-rows: repeat(auto, 100px);
}
.top button{
   border: none;
   height: 50%;
   background-color: window;
}

.top{
	margin:auto;
	margin-top:20px;
	padding-bottom : 30px;
	height: auto;
	border-bottom : 2px solid #FFFFFF;
}

.top {
   display:grid;
   grid-template-columns: 50px auto 50px ;
}
.prev_btn{
   margin:50% 0 50% 0;
   grid-column:1/2;
}
.thumbnails .thumbDiv{
   transition-duration:.5s;
}
.thumbnails{
   white-space:nowrap;
   width:100%;
   grid-column:2/3;
}
.next_btn{
   margin:50% 0 50% 0;
   grid-column:3/4;
}
/* .leftMenu {
	grid-column:1/2;
	grid-row:2/3;
	overflow-x: auto;
	overflow-y: scroll;
} */

.centerMenu {
	overflow-y: scroll;
	height:100vh;
	grid-column:2/3;
	grid-row:1/5;
	background-color: #F2F3F5;
}



.bottom{
	min-height:30px;
	max-height:auto;
}
.myFeeds{
	height:auto;
	margin-top:20px;
	padding-bottom : 30px;
	border-top : 2px solid #FFFFFF;
	
}
.myFeed{
	width : 500px;
	margin : auto;
	margin-top : 20px;
}

.thumbnails{
	background-color : #F2F3F5;
	border-radius: 10px;
	margin : auto;
	width : 500px;
	height : 124px;
	padding : 5px 0px;
	overflow: hidden;
}

.thumbDiv{
	width:1000px;
	margin-left:5px;
}
.thumbnail{
	text-align : center;
	float:left;
	border-radius : 5px;
	background-color : #CCCCCC;
	margin-right : 5px;
	width:94px;
	height:114px;
	cursor:pointer;
}

.thumbnail2{
	text-align : center;
	float:left;
	border-radius : 5px;
	background-color : #CCCCCC;
	margin-right : 5px;
	width:94px;
	height:114px;
	cursor:pointer;
}
.thumbImg{
	height:94px;
	overflow : hidden;
}
.thumbImg img{
	border-radius : 5px;
	width:94px;
	height:94px;
}
.thumbId{
	height:20px;
}
.feedPlus{
	display:block;
	margin : auto;
	margin-top : 20px;
	margin-bottom : 20px;
	width:500px;
}
#plus{
	float : right;
}
.feed{
	grid-column:2/3;
	width : 500px;
	margin : auto;
	margin-top : 20px;
}
.rightMenu {
	overflow-y: scroll;
	height:100vh;
	grid-column:3/4;
	grid-row:1/5;
	background-color: #F2F3F5;
}

.ftMenu {
	grid-column:1/2;
	grid-row:3/5;
	border-style: double;
	background-color: #ffa71b;
}
.ftMenu p{
	font-size: 1px;
}


.PopView{
	display: inline-block;
	height: auto;
	width: 250px;
	background-color: #ff9900;
}

.close a{
	 text-decoration: none;
	 color: #ff9900;
}
.close a:link {
	color: #ff9900;
}
.close a:visited {
	color: #ff9900;
}

.Pop {
	word-break:break-all;
	background-color: white;
	margin:5;
}
.Pop p{
	color: black;
	margin: 5;
}

.myPage {
	cursor: pointer; 
	width: 250px;
	height: 50px;
	background-color: #ff9900;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	top: 1px;
}
.btn-signIn {
	cursor : pointer;
	width: 250px;
	height: 50px;
	background-color: #999;
	border : none;
	text-decoration: none;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 35px;
}

[class*='contextMenuTest'] {
	/* 마우스 우클릭메뉴가 li로 만들어져서 li로 만들어진태그의 앞쪽에 생긴●이걸 없애기위해 추가함 */
	list-style: none;
	}
