@charset "UTF-8";


img{
	border-radius: 1em;
}

textarea{
	padding-left:5px;
	border-radius: 1em;
	resize:none;
}


.news{
	background-color : white;
	display:grid;
	width:500px;
	border-radius: 10px;
/* 	border: 2px solid #ff9900; */
	grid-template-columns : 1fr 1fr 1fr;
	grid-gap:5px;
	height: auto;
	padding : 10px 10px 10px 10px;
}

.myinfo {
	border-bottom : 1px solid #CCCCCC;
	grid-column : 1/4;
	margin: 5px;
	padding-bottom : 10px;
}
.profile{
	display:inline-block;
}
.contents{
	grid-column : 1/4;
}

.txt{
	grid-column : 1/4;
	margin : 5px auto;
	overflow : hidden;	
}

.txtArea{
	margin-left: 10px;
	margin-bottom : 7px;
	width:460px;
	height : 70px;
	padding : auto;
	padding-right:20px;
	overflow : hidden;
}
.txtArea:hover{
	overflow-y:scroll;
}
.txtArea::-webkit-scrollbar {
	width: 10px;
}
.txtArea::-webkit-scrollbar-thumb {
	background-color: #CCD0D5;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

.txtArea::-webkit-scrollbar-track {
	background-color: #CCCCCC;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

.file{
	display:grid;
	grid-template-columns : 159px 159px 159px;
	grid-template-rows : 150px 150px;
	border : 1px solid #CCCCCC;
	height:320px;
	overflow:hidden;
	padding : 2px 0;
}


.file{
	grid-column : 1/4;
	overflow-x: hidden;
}
.file:hover{
	overflow-y:scroll;
}


.file::-webkit-scrollbar {
	width: 10px;
}

.file::-webkit-scrollbar-thumb {
	background-color: #CCD0D5;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

.file::-webkit-scrollbar-track {
	background-color: white;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}
.item{
	margin :auto;
	cursor : pointer;
}
.item img{
	vertical-align:middle;
	width : 145px;
	height : 145px;
	
}

.comment_num{
	grid-column : 1/4;
	margin: 0px 5px;
	border-bottom : 1px solid #CCCCCC;
	padding-bottom : 5px;
}
.txtUpDown{
	margin-left:10px;
	display:inline-block;
}
.reply{
	float:right;
	margin-right : 10px;
}
.comment_btn{
	display:grid;
	grid-column : 1/4;
	grid-template-columns : 1fr 1fr 1fr;
	border-bottom : 1px solid #CCCCCC;
	padding-bottom : 5px;
	margin : 0px 5px;
}


.comment_area{
	grid-column : 1/4;
	display : none;	
/* 댓글 다는부분 보여주기 */
}


.comment{
	margin-bottom : 10px;
}

.comment_profile{
	display:inline-block;
}

.comment_txt{
	width : 440px;
	border-radius:1em;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.08);
}

.comment_txt *{
	margin : 2px 0 2px 5px;
}

.date{
	font-size:12px;
}

.date.comment{
	padding-left:30px;
}

.regReply{
	margin-top : 13px;
	vertical-align : middle;
	grid-column : 1/4;
}

.comment_upload{
	margin-left : 3px;
	outline : 0;
	width:78%;
	overflow:hidden;
}

.submit{
	cursor:pointer;
	width:80px;
	border-radius:1em;
	background-color:white;
	font-size: 16px;
	font-weight:bold;
	position: relative;
	outline:0;
	bottom : 4px;
}

#bigimg{
	border-radius:1em;
	display:none;
	margin-left:45px;
	margin-top:50px;
	position:absolute;
	overflow:hidden;
	width:400px;
	height:400px;
	border:2px solid #CCCCCC;
	cursor : pointer;
}


.submit:hover{
	color: orange;
}


#btn1{
	
	cursor:pointer;
	border:0px;
	border-radius:1em;
	margin : auto;
	font-size: 16px;
	font-weight:bold;
	background-color: white;
	width: 55px;
	height: 30px;
	border : 0;
	outline : 0;
}

#btn1:hover {
	color:blue;
	background-color: rgba(0, 0, 0, 0.05);
}

#btn2{
	cursor:pointer;
	border:0px;
	border-radius:1em;
	margin : auto;
	font-size: 16px;
	font-weight:bold;
	background-color: white;
	width: 55px;
	height: 30px;
	border : 0;
	outline : 0;
}

#btn2:hover {
	color:red;
	background-color: rgba(0, 0, 0, 0.05);
}

#btn3{
	cursor:pointer;
	border:0px;
	border-radius:1em;
	margin : auto;
	font-size: 16px;
	font-weight:bold;
	background-color: white;
	width: 73px;
	height: 30px;
	border : 0;
	outline : 0;
}

#btn3:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.goodbad.good.on{
	color:blue;
	background-color: rgba(0, 0, 0, 0.05);
}

.goodbad.bad.on{
	color:red;
	background-color: rgba(0, 0, 0, 0.05);
}


